.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #fff;
    padding: 0 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.username {
    font-weight: bold;
    font-size: 18px;
}

.numClients {
    font-size: 18px;
}

.chatBox {
    flex-grow: 1;
    overflow: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.messageSent {
    align-self: flex-end;
}

.messageReceived {
    align-self: flex-start;
}

.messageUser {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.messageText {
    font-size: 16px;
}

.inputBox {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #fff;
    padding: 0 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.input {
    flex-grow: 1;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding: 0 20px;
    font-size: 16px;
    background-color: #F5F5F5;
    outline: none;
    margin-right: 20px;
}

.sendButton {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #0088cc;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.sendButton:hover {
    background-color: #005580;
}

.exitButton {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #cc0000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.exitButton:hover {
    background-color: #800000;
}
